#admin-index .row div{
    height: 200px;
    cursor: pointer;
    text-align: center;
    font-family: 'Cafe24Oneprettynight', serif;
}
#admin-index .row .col a{
    color: black!important;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
#admin-index .row .col a:hover{
    text-decoration: none;
}
#admin-index .row .col a i{
    margin-top: 12.5%;
    font-size: 4rem;
}
@media screen and (max-width: 993px){
    #admin-index .row .col a i{
        margin-top: 17.5%;
    }
}
@media screen and (max-width: 767px){
    #admin-index .row .col a i{
        margin-top: 25%;
    }
}

#admin-index .row .col h2{
    font-weight: 600!important;
}
#admin-index .i-1{ background-color: #fbeded;}
#admin-index .i-2{ background-color: #cfc3fd;}
#admin-index .i-3{ background-color: #b2f9f9;}
#admin-index div[class *= i-]:hover{
    opacity: 0.6;
}

#admin-members table{
    font-size: 1.1rem;
}
#admin-members table thead th{
    text-align: center;
}
#admin-members table tbody tr td a{
    color: black;
}


#admin-member table{
    max-width: 600px;
}
#admin-member table div.img{
    width: 100%;
}
#admin-member table div img{
    max-width: 100%;
    height: auto;
}
#admin-member table td{
     font-size: 1.1rem;
     vertical-align: middle;
}
#admin-member table td p{
    white-space: pre-wrap;
    display: inline;
}