#gallery-index ul{
    list-style: none;
    padding: 0;
}

#gallery-index section:last-child{
    clear: left;
}

#gallery-index .responsive-gallery {
    padding: 0 6px;
    float: left;
    width: 12.499999%;
    margin-bottom: 12px;
}

@media screen and (max-width: 993px) {
    #gallery-index .responsive-gallery {
        width: 24.99999%;
    }
}

@media screen and (max-width: 768px) {
    #gallery-index .responsive-gallery {
        width: 49.99999%;
    }
}

@media screen and (max-width: 600px) {
    #gallery-index .responsive-gallery {
        width: 100%;
    }
}

#gallery-index .responsive-gallery:hover img{
    transform: scale(1.1);
    transition: 0.6s ease;
}

#gallery-index .gallery {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    padding-top: 75%;
    overflow: hidden;
}

#gallery-index .responsive-gallery img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}
#gallery-index #gallery-img .responsive-gallery .gallery span.multiple{
    background-image: url("../images/65c15d7731ea.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#gallery-index #gallery-img .responsive-gallery .gallery span.check-box{
    background-image: url("../images/sp_cloud.png");
    background-repeat: no-repeat;
    background-position: -52px -184px;
    display: inline-block;
    height: 28px;
    width: 28px;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
}
#gallery-index #gallery-img .responsive-gallery .gallery span.check-box:hover{
    background-position: -124px -184px;
}
#gallery-index #gallery-img .responsive-gallery .gallery span.check-box.checked{
    background-position: -88px -184px;
}


#gallery-index #empty img{
    max-width: 100%;
}
#gallery-index #empty h1{
    font-family: 'Jua', sans-serif;
    font-size: 35px; line-height: 1.4;
    word-break: keep-all;
}

#gallery-form .table .row th,
#gallery-form .table .row td {
    border-top: none;
}

#gallery-form .img-box{
    width: 63px;
    height: 63px;
    display: inline-block;
    position: relative;
}

#gallery-form .img-box i{
    position: absolute;
    right: 0;
    z-index: 1;
}
#gallery-form .img-box img{
    position: absolute;
    top: 3px;
}
