<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
        .bg-white{
            background-color: white;
        }
        .bg-light-gray{
            background-color: #f5f6f8;
        }
    </style>
</head>

<body class="bg-light-gray">
    <main class="container my-3">
        <section class="row">
            <div class="col-md-6 my-2 p-0 px-2">
                <div class="card h-100">
                    <div class="card-header">프로필사진 / 별명</div>
                    <div class="card-body">
                        <img class="rounded-circle" src="./jpg.jpg" alt="" width="60" height="60">
                        <div class="d-inline-block ml-5">
                            <strong>닉네임</strong><span class="ml-2">123456</span>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <button class="btn btn-outline-primary">수정하기</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-2 p-0 px-2">
                <div class="card h-100">
                    <div class="card-header">비밀번호 / 이메일</div>
                    <div class="card-body">
                        <div>
                            <strong class="w-25 d-inline-block">비밀번호</strong><span class="ml-2">암호화 되어있습니다.</span><br><br>
                        </div>
                        <div>
                            <strong class="w-25 d-inline-block">이메일</strong><span class="ml-2">abc@naver.com</span>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <button class="btn btn-outline-primary">수정하기</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-2 p-0 px-2">
                <div class="card h-100">
                    <div class="card-header">주소</div>
                    <div class="card-body">
                        <div>
                            <strong class="w-25 d-inline-block">우편번호</strong><span class="ml-2">13513</span><br><br>
                        </div>
                        <div>
                            <p><strong class="w-25 d-inline-block">도로명</strong><span class="ml-2">경기 성남시 분당구 판교로 607</span></p>
                        </div>
                        <div>
                            <strong class="w-25 d-inline-block">주소</strong><span class="ml-2">112동 506호</span>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <button class="btn btn-outline-primary">수정하기</button>
                    </div>
                </div>
            </div>
        </section>

    </main>
</body>

</html>